:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}

.wrapper {
  display: inline-block;
}

.wrapper table {
  border-style: none;
  /*border-collapse: collapse;*/
  /*display: block;*/
}

.table-content {
  overflow-y: scroll;
  border-collapse: collapse;
  display: block;
}

th {
  background-color: #333;
  color: #fcfcfc;
}

td {
  color: #333;
}

th, td {
  text-align: center;
  font-size: .6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  width: 6rem;
}

.tr {
  height: 35px;
  max-height: 35px;
}

.tr-odd {
  background-color: #DADDE1;
}

.tr-even {
  background-color: #fcfcfc;
}
